body {
  text-align: center;
  background-color: #ff005c;
}

#level-title {
  font-family: 'Carter One', cursive;
  font-size: 2.5rem;
  margin:  0 5% 5% 5%;
  color: #FEF2BF;
}

.container {
  padding-top: 2%;
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  cursor : pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.instructions, .ins-set
{
  text-align: left;
}

.instructions
{
  color: #fff600;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  font-size: 1.2rem;
}

.instructions:hover
{
  color : #08d9d6;
}

.ins-set
{
  font-family: 'PT Serif', serif;
  color : #f9d56e;
}
li 
{
  font-size : 1rem;
}



